*{
    font-family: 'Fredoka One', cursive;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
body{
    background-color: #2c2a2a;
}
.cell{
    width: 9vw;
    height: 9vw;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    text-align: center;
}
.gameArea{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    color: white;
}

.XOXTable{
    display: table;
    margin: auto;
}
.resBut{
    background-color: red; 
    color: white; 
    font-size: 20px; 
    padding: 2px 8px; 
    border: 1px solid black; 
    border-radius: 3px;
    
}
#c1{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
#c1:hover{
    box-shadow: inset -7px 0 6px -7px rgb(255, 255, 255),
                inset 0 -7px 6px -7px rgb(255, 255, 255);
}
#c2{
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
#c2:hover{
    box-shadow: inset -7px 0 6px -7px rgb(255, 255, 255),
                inset 7px 0 6px -7px rgb(255, 255, 255),
                inset 0 -7px 6px -7px rgb(255, 255, 255);
}
#c3{
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}
#c3:hover{
    box-shadow: inset 7px 0 6px -7px rgb(255, 255, 255),
                inset 0 -7px 6px -7px rgb(255, 255, 255);
}
#c4{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}#c4:hover{
    box-shadow: inset -7px 0 6px -7px rgb(255, 255, 255),
                inset 0 -7px 6px -7px rgb(255, 255, 255),
                inset 0 7px 6px -7px rgb(255, 255, 255);
}
#c5{
    border: 1px solid white;
    
}
#c5:hover{
    box-shadow: inset 0 0 7px rgb(255,255,255);
}
#c6{
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
#c6:hover{
    box-shadow: inset 7px 0 6px -7px rgb(255, 255, 255),
                inset 0 -7px 6px -7px rgb(255, 255, 255),
                inset 0 7px 6px -7px rgb(255, 255, 255);
}
#c7{
    border-right: 1px solid white;
    border-top: 1px solid white;
}
#c7:hover{
    box-shadow: inset -7px 0 6px -7px rgb(255, 255, 255),
                inset 0 7px 6px -7px rgb(255, 255, 255);
}
#c8{
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 1px solid white;
}
#c8:hover{
    box-shadow: inset 7px 0 6px -7px rgb(255, 255, 255),
                inset -7px 0 6px -7px rgb(255, 255, 255),
                inset 0 7px 6px -7px rgb(255, 255, 255);
}
#c9{
    border-left: 1px solid white;
    border-top: 1px solid white;
}
#c9:hover{
    box-shadow: inset 7px 0 6px -7px rgb(255, 255, 255),
                inset 0 7px 6px -7px rgb(255, 255, 255);
}